services:
  web:
    build:
      args:
        MONGODB_URI: ${MONGODB_URI}
        CLERK_SECRET_KEY: ${CLERK_SECRET_KEY}
        NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
        NEXT_PUBLIC_CLERK_SIGN_IN_URL: ${NEXT_PUBLIC_CLERK_SIGN_IN_URL}
        NEXT_PUBLIC_CLERK_SIGN_UP_URL: ${NEXT_PUBLIC_CLERK_SIGN_UP_URL}
        NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL: ${NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL}
        NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL: ${NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL}
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
        IMAGEKIT_PUBLIC_KEY: ${IMAGEKIT_PUBLIC_KEY}
        IMAGEKIT_PRIVATE_KEY: ${IMAGEKIT_PRIVATE_KEY}
        IMAGEKIT_URL_ENDPOINT: ${IMAGEKIT_URL_ENDPOINT}
        NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY: ${NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY}
        NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT: ${NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT}
        RESEND_API_KEY: ${RESEND_API_KEY}
        RESEND_FROM_EMAIL: ${RESEND_FROM_EMAIL}
        RESEND_TO_EMAIL: ${RESEND_TO_EMAIL}

      context: ./web
      dockerfile: Dockerfile
    container_name: cmccollege-local
    env_file:
      - ./web/.env
    ports:
      - "3010:3000"
